[submodule "src/deps/Qt7z"]
	path = src/deps/Qt7z
	url = ssh://git@archangelsdy.com:9687/Qt7z
[submodule "test/deps/QtMockWebServer"]
	path = test/deps/QtMockWebServer
	url = git@github.com:ArchangelSDY/QtMockWebServer.git
[submodule "src/deps/QtDBMigration"]
	path = src/deps/QtDBMigration
	url = https://github.com/ArchangelSDY/QtDBMigration.git
